<h1>Create New Article</h1>

<div>
    <% if @article.errors.any? %>
        <h2>Could not create due to errors.</h2>
        <ul>
            <% @article.errors.full_messages.each do |message| %>
                <li>
                    <%= message %>
                </li>
            <% end %>
        </ul>
    <% end %>
</div>

<%= form_with scope: :article, url: articles_create_path, local: true do |f| %>

    <div>
        <%= f.label :name %>
        <%= f.text_field :name %>
    </div>

    <div>
        <%= f.label :body %>
        <%= f.text_area :body %>
    </div>

    <div>
        <%= f.submit %>
    </div>
<% end %>

<%= link_to 'Back', articles_path %>